@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Fredoka+One&display=swap');
@import url('https://js.arcgis.com/4.32/esri/themes/dark/main.css');



// Import variables
@import "./variables.scss";

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

@import "~bootstrap/scss/bootstrap";
@import "~@progress/kendo-theme-bootstrap/dist/all.scss";

@import "./global.scss";

@import "./components/navbar.scss";
@import "./components/sidebar.scss";

@import "./sections/cta.scss";
@import "./sections/features.scss";
@import "./sections/footer.scss";
@import "./sections/masthead.scss";


.navbar-brand .logo img {
    max-height: 30px;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
    //font-size: 14px;
    padding-bottom: 40px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn-primary{
    color:#fff;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 140px;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.bg-status-open {
    background-color: var(--bs-info) !important
}

.bg-status-waiting {
    background-color: var(--bs-warning) !important
}

.bg-status-closed {
    background-color: var(--bs-danger) !important
}


.footer {
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
}


.footer p {
    margin-bottom: 0;
}


.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}


.alert-dismissible {
    padding-right: 5rem;
}

.product {
    text-align: center;
    min-height: 150px;
}

.microsoft {
    background-color: #f25022 !important;
    color: white;
    border-color: #f25022 !important;
}

.facebook {
    background-color: #1877f2 !important;
    color: white;
    border-color: #1877f2 !important;
}

.google {
    background-color: #fbbc05 !important;
    color: white;
    border-color: #fbbc05 !important;
}

.tab-content p {
    margin-top: 1em;
}

.apple {
    background-color: black !important;
    color: white;
    border-color: black !important;
}

.k-barcode > div {
    margin: auto !important;
}

.dashboard {
    /*margin-top:55px;*/
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

.navbar-logo {
    background-repeat: no-repeat;
    min-width: 45px !important;
    margin-bottom: 0;
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: center;
    background-size: 35px;
    padding-left: 50px;
}


.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}


a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

.navbar-logo {
    background-repeat: no-repeat;
    min-width: 45px !important;
    margin-bottom: 0;
}


#map {
    height: 400px;
}

.orders {
    margin-left: 15px;
}

.bg-color {
    background-color: $primary !important;
    color: white;
}

.fixed-top {
    border-bottom: solid 1px #ccc;
}


.h4, h4 {
    font-size: .98438rem !important;
}

.navbar-vertical-content {
    height: calc(100% - 3.875rem);
    overflow-y: auto;
}

.navbar-vertical-content {
    overflow: hidden;
}

.navbar-vertical-content {
    height: calc(100% - 3.875rem);
    overflow-y: auto;
}

.navbar-vertical-content {
    overflow: hidden;
}

*, ::after, ::before {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: border-box;
}

/*.nav-pills.nav-collapse.flex-column::before {
    position: absolute;
    left: 1.3125rem;
    width: .125rem;
    height: calc(100% - .25rem);
    content: '';
    background-color: rgba(231,234,243,.7);
}*/

.chart {
    /*height:400px;*/
}

.latest-readings {
    font-size: 18pt;
    font-weight: lighter;
    margin: 1em;
    text-align: center;
}

    .latest-readings span {
        text-decoration: none;
    }

#charts {
    margin: 0em;
    /*display:none;*/
}



#loading {
    text-align: center;
    font-size: 20pt;
}



#ph-gauge {
    width: 250px;
    height: 250px;
    margin: 0 auto 0;
}

#tds-gauge {
    width: 250px;
    height: 250px;
    margin: 0 auto 0;
}

#ec-gauge {
    width: 250px;
    height: 250px;
    margin: 0 auto 0;
}

.linear-gauge {
    height: 260px;
    display: inline-block;
    *display: inline;
    zoom: 1;
}

.highlight {
    background-color:lawngreen;
}

