// 
// Colors
// 

// Override Bootstrap color systel colors

$blue: #2937f0;
$purple: #9f1ae2;
$black: #000000;
$magenta: magenta;


// Override Bootstrap default state colors

$primary: #2a8c38;
$secondary: $black;